body {
    background-color: #1F1F28;
    color: aliceblue;
    overflow-x: hidden;
    font-family: Lexend Deca;
    font-family: 'Carme', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    /*zoom: 1; */
} 

.plan-features1 {
color: #01481A;
font-size: 16px;
font-style: medium;
font-weight: 500;
line-height:2.3rem;
position: absolute;
width: 200px;
display: grid;
}

.plan-features2 {
    color: #920803;
    font-size: 16px;
    font-style: medium;
    font-weight: 500;
    line-height:2.3rem;
    position: absolute;
    width: 200px;
    display: grid;
    
}
#path {
    position: absolute;
}
.plan-features3 {
color: #530C81;
font-size: 16px;
font-style: medium;
font-weight: 500;
line-height:2.3rem;
position: absolute;
width: 200px;
display: grid;
}

.plan-features2 > li {
    margin-left: 20px;
    list-style: none;
}
.plan-features3 > li {
    margin-left: 20px;
    list-style: none;
}
.plan-features1 > li {
    margin-left: 20px;
    list-style: none;
}



.icon_green1  {
position: absolute;
margin-top: 9px;
margin-left: 55px;
  }
.icon_green2  {
position: absolute;
margin-top: 45px;
margin-left: 55px;
  }
.icon_green3 {
    position: absolute;
    margin-top: 81px;
    margin-left: 55px;
}
.icon_red {
    position: absolute;
    margin-top: 81px;
    margin-left: 55px;  
}

#cards {
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
overflow: hidden;
}

.cardgreen {
    width: 261px;
    height: 529px;
    border-radius: 19px;
    background: linear-gradient(180deg, #89D66E 0%, #9CEDFF 100%);
    position:relative;}

.cardorange {
    width: 261px;
    height: 529px;
    border-radius: 19px;
    background: linear-gradient(180deg, #FF8686 0%, #E9BC1C 67.92%);
    position:relative;}

.cardpurple {
    width: 261px;
    height: 529px;
    border-radius: 19px;
    background: linear-gradient(180deg, #C0A3FF 16.65%, #FF9CE3 100%);
    position:relative;}

.wave {
    margin-top: 221px;}

.white-rounded {
    width: 261px;
    height: 264px;
    border-radius: 0px 0px 19px 19px;
    background: #F3F4F2;
    position: absolute;}
    
    .button-green {
        width: 147px;
        height: 47px;
        border-radius: 8px;
        background: #0CC74D;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin: auto;
        position: absolute;
        margin-top: 180px;
        margin-left: 22%;
        position: relative;
        z-index: 10;
        border: none;
        cursor: pointer;
    }
    .button-green:hover {
        width: 147px;
        height: 47px;
        border-radius: 8px;
        background: linear-gradient(180deg, rgba(0, 255, 240, 0.70) 0%, rgba(12, 199, 77, 0.70) 100%), #0CC74D;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin: auto;
        position: absolute;
        margin-top: 180px;
        margin-left: 22%;
        position: relative;
        z-index: 10;
        border: none;
        cursor: pointer;
    }
    .button-green:active {
        width: 147px;
        height: 47px;
        border-radius: 8px;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.40) inset;
        background: #0CC74D; position: absolute;
        margin-top: 180px;
        margin-left: 22%;
        position: relative;
        z-index: 10;
        border: none;
        cursor: pointer;
    }

.button-orange {
    width: 147px;
    height: 47px;
    border-radius: 8px;
    background: #FE5953;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    position: absolute;
    margin-top: 180px;
    margin-left: 22%;
    position: relative;
    z-index: 10;
    border: none;
    cursor: pointer;
}
.button-orange:hover {
    width: 147px;
    height: 47px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(255, 245, 0, 0.70) 0%, rgba(254, 89, 82, 0.70) 100%), #FE5953;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    position: absolute;
    margin-top: 180px;
    margin-left: 22%;
    position: relative;
    z-index: 10;
    border: none;
    cursor: pointer;
}
.button-orange:active {
    width: 147px;
    height: 47px;
    border-radius: 8px;
    background: #FE5953;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.40) inset;
    margin: auto;
    position: absolute;
    margin-top: 180px;
    margin-left: 22%;
    position: relative;
    z-index: 10;
    border: none;
    cursor: pointer;
}


.button-purple {
    width: 147px;
    height: 47px;
    border-radius: 8px;
    background: #881CCD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    position: absolute;
    margin-top: 180px;
    margin-left: 22%;
    position: relative;
    z-index: 10;
    border: none;
    cursor: pointer;
}
.button-purple:hover {
    width: 147px;
    height: 47px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(250, 0, 255, 0.70) 0%, rgba(136, 28, 205, 0.70) 100%), #881CCD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    position: absolute;
    margin-top: 180px;
    margin-left: 22%;
    position: relative;
    z-index: 10;
    border: none;
    cursor: pointer;
}
.button-purple:active {
    width: 147px;
    height: 47px;
    border-radius: 8px;
    background: #881CCD;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.40) inset;
    margin: auto;
    position: absolute;
    margin-top: 180px;
    margin-left: 22%;
    position: relative;
    z-index: 10;
    border: none;
    cursor: pointer;
}

.price-text {
    width: 165px;
    height: 160px;
    position: absolute;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    left: 50px;
    top: 38px;
    display: inline-block;
    line-height: 2.5rem;
}

#text {
    color: #FFF;
text-align: center;
font-size: 18px;
font-style: medium;
font-weight: 500;
position: relative;
}

#price {
    width: 165px;
    color: #FFF;
    font-size: 40px;
    font-style: medium;
    font-weight: 700;
    position: relative;
}

#subtext {
color: #FFF;
font-size: 32px;
font-style: medium;
font-weight: 500;
position: relative;

}

#sign-up {
font-size: 18px;
font-style: medium;
font-weight: 500;
text-transform: uppercase;
text-align: center;
color: #FFF;
padding: 12px 19px 11px 19px;
}

.bubble {
    z-index: 1;
    position: absolute;
    animation: float 3.5s ease-in-out infinite;
}
.bubble:nth-of-type(1) {
    left: 70px;
    top: 5px;
}

.bubble:nth-of-type(2) {
    left: 10px;
    top: 30px;
}
.bubble:nth-of-type(3) {
    left: 10px;
    top: 170px;
}
.bubble:nth-of-type(4) {
    left: 10px;
    top: 100px;
}
.bubble:nth-of-type(5) {
    left: 200px;
    top: 100px;
}
.bubble:nth-of-type(6) {
    left: 200px;
    top: 190px;
}
.bubble:nth-of-type(7) {
    left: 190px;
    top: 190px;
}
.bubble:nth-of-type(8) {
    left: 150px;
    top: 210px;
}
.bubble:nth-of-type(9) {
    left: 3px;
    top: 221px;
}
.bubble:nth-of-type(10) {
    left: 190px;
    top: 30px;
}




@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  

 @media only screen and (max-width: 600px) {
     #cards {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1 1 300px;
        margin: 10%;
     }
  } 
  
  @media only screen and (min-width: 601px) {
      #cards {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         flex: 1 1 601px;
         margin: 10%;
         overflow: hidden; /* Hide scrollbars */;
      }
   } 
  @media only screen and (min-width: 992px) {
      #cards {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         overflow: hidden; /* Hide scrollbars */
      }
   } 

